@import 'tailwindcss';

:root {
	--primary: #fe7743;
	--primary-light: #fea380;
	--secondary: #273f4f;
	--secondary-foreground: #ccc;
	--background: #444;
	--foreground: #aaa;
	--border-color: #888;
	--card-bg: #666;
	--muted-bg: #555;
	--muted-fg: #888;
}

@theme {
	--color-primary: var(--primary);
	--color-primary-light: var(--primary-light);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-background: var(--background);
	--color-border: var(--border-color);
	--color-card: var(--card-bg);
	--color-muted-background: var(--muted-bg);
	--color-muted-foreground: var(--muted-fg);
}

body {
	@apply relative h-screen w-screen text-[var(--foreground)];
}

button {
	@apply cursor-pointer;
}
